<div class="content">
  <h1>Rich-i18n <%= Rails.env %> app</h1>
  <div class="left">
    <%= "application.index.header"   .t :tag => :h1   %>
    <%= "application.index.paragraph".t :as  => :html %>
  </div>
  <ul>
    <li>
      <%= link_to "Home", "/" %>
    </li>
    <li>
      <%= link_to "GemSuit", "https://github.com/archan937/gem_suit" %>
    </li>
    <li>
      <%= link_to "Rich-i18n", "https://github.com/archan937/rich_i18n/tree/edge" %>
    </li>
    <% ["Comments", "Documentation", "Support"].each do |x| %>
    <li>
      <%= link_to x.t, "#" %>
    </li>
    <% end %>
    <li>
      <%= ["About".t, " ", "me".t].join "" %>
    </li>
  </ul>
</div>